
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-container h1 {
    margin-left: 10px;
    color: #3498db;
}

.navbar .nav-link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #3498db;
}

.main-content {
    padding: 40px 0;
}

.registration-section h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.intro-text {
    margin-bottom: 20px;
    color: #666;
}

.form-styled {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: #2980b9;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    .header,
    .main-content {
        padding: 20px;
    }
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-half {
    flex: 1;
}


.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-file-input {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.custom-file-input:hover {
    background-color: #2980b9;
}

.file-chosen {
    line-height: 2.5;
    font-size: 16px;
    color: #666;
}



@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-half {
        width: 100%;
    }
}